# --- .NET ---
bin/
obj/
*.user
*.suo
*.db
*.sqlite

# --- Node / Angular ---
node_modules/
dist/
.angular/
npm-debug.log

# --- OS ---
.DS_Store
app.db
app.db-shm
app.db-wal

# --- VS / VSCode ---
.vscode/
.idea/
